<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      h1 {
        text-align: center;
        font-weight: bolder !important;
      }
      h3 {
        text-align: center;
      }
      hr {
        background-color: black;
        border-color: black;
      }
      .content {
        font-size: 25px;
        margin-right: 75px;
        margin-left: 75px;
      }
      .item {
        width: 100%;
        border-collapse: collapse;
      }
      th {
        border: solid 1px black;
      }
      .item-element {
        border: solid 1px black;
        text-align: right;
      }
      .item-element-name {
        border: solid 1px black;
        text-align: left;
      }
      .bref {
        text-align: right;
        border-collapse: collapse;
        width: 40%;
        border-bottom: dashed 1px black;
      }
      .total {
        width: 100%;
        float: none;
      }
      .align-right {
        text-align: right;
      }
      .address {
        text-align: center;
        font-size: 22px;
      }
      .info {
        font-size: 18px;
      }
      .logo {
        text-align: center;
        height: 100px;
      }
      .logoContainer {
        padding-top: 20px;
        text-align: center;
      }
      b{ font-weight: bold; } 
    </style>
  </head>
  <body>
    <div style="text-align: right;margin-right: 50px;margin-top: 40px;">Powered by Whatthefood</div>
    <div class="logoContainer">
      <img src=<%= data.logoUrl %> class="logo" />
    </div>
    <h1><%= data.restaurantName %></h1>
    <h3>N° DE COMMANDE: <%= data.number %></h3>
    <h3>ID DE COMMANDE: <%= data.orderId %></h3>
    <div class="content">
      <div class="info">
        DATE & HEURE: <%= data.date %> à <%= data.hours %>  <br />
        CLIENT: <%= data.client %> <br />
        MOYEN DE PAIEMENT: <%= data.paymentMethod %> <br />
      </div>
      <br />
      <table class="item">
        <tr>
          <th>ARTICLE</th>
          <th>QTÉ</th>
          <th>PU</th>
          <th>PT</th>
        </tr>
        <% data.item.forEach(item => { %>
          <tr>
            <td class="item-element-name"><%= item.nameOfProduct %></td>
            <td class="item-element"><%= item.quantity %></td>
            <td class="item-element"><%= item.price %>Fc</td>
            <td class="item-element"><%= item.price * item.quantity %>Fc</td>
          </tr>
        <% }); %>
      </table>

      <br />
      <table class="bref" align="right">
        <tr>
          <td>TOTAL</td>
          <td><%= data.total %>Fc</td>
        </tr>
      </table>
      <br /><br /><br />
      <table class="total">
        <tr>
          <td>TOTAL GÉNÉRAL</td>
          <td class="align-right"><%= data.total %>Fc</td>
        </tr>
      </table>
      <br />
      <hr />
      <br /><br /><br /><br /><br />
      <div class="address">
        <%= data.restaurantAddress %>
      </div>
      <br /><br />
      <div style="text-align: center; font-size: 19.5px;">MERCI POUR VOTRE COMMANDE</div>
    </div>
  </body>
</html>
